In [8]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("commodities.csv")
df.head()

,Unnamed: 0,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price
0,0,Gujarat,Amreli,Damnagar,Bhindi(Ladies Finger),Bhindi,FAQ,27-07-2023,41.0,45.0,43.5
1,1,Gujarat,Amreli,Damnagar,Brinjal,Other,FAQ,27-07-2023,22.0,30.0,24.5
2,2,Gujarat,Amreli,Damnagar,Cabbage,Cabbage,FAQ,27-07-2023,23.5,30.0,27.0
3,3,Gujarat,Amreli,Damnagar,Cauliflower,Cauliflower,FAQ,27-07-2023,70.0,75.0,72.5
4,4,Gujarat,Amreli,Damnagar,Coriander(Leaves),Coriander,FAQ,27-07-2023,84.0,90.0,88.5

In [3]:
df.columns

Index(['Unnamed: 0', 'State', 'District', 'Market', 'Commodity', 'Variety',
       'Grade', 'Arrival_Date', 'Min Price', 'Max Price', 'Modal Price'],
      dtype='object')

In [4]:
df.shape

(23093, 11)

In [5]:
df.isnull().sum()

Unnamed: 0      0
State           0
District        0
Market          0
Commodity       0
Variety         0
Grade           0
Arrival_Date    0
Min Price       0
Max Price       0
Modal Price     0
dtype: int64

In [6]:
df['Commodity'].value_counts()

Commodity
Potato                      1205
Onion                       1134
Brinjal                     1033
Green Chilli                 931
Bhindi(Ladies Finger)        860
                            ...
Alasande Gram                  1
Almond(Badam)                  1
Cinamon(Dalchini)              1
Broomstick(Flower Broom)       1
She Buffalo                    1
Name: count, Length: 234, dtype: int64

In [7]:
df['Arrival_Date'].unique()

array(['27-07-2023', '28-07-2023', '29-07-2023', '30-07-2023',
       '31-07-2023', '01-08-2023', '02-08-2023'], dtype=object)

In [4]:
d=pd.read_csv("prices.csv")
d.head()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Andhra Pradesh,Chittor,Kalikiri,Tomato,Hybrid,FAQ,18/03/2025,900.0,1200.0,1060.0
1,Andhra Pradesh,Chittor,Palamaner,Brinjal,Brinjal,FAQ,18/03/2025,1500.0,2500.0,2000.0
2,Andhra Pradesh,Guntur,Tenali,Black Gram (Urd Beans)(Whole),Black Gram (Whole),Non-FAQ,18/03/2025,7400.0,7600.0,7500.0
3,Andhra Pradesh,Krishna,Mylavaram,Maize,Deshi Red,Non-FAQ,18/03/2025,1700.0,2200.0,1850.0
4,Andhra Pradesh,Krishna,Tiruvuru,Paddy(Dhan)(Common),Sona,FAQ,18/03/2025,2450.0,2650.0,2550.0

In [5]:
d.dtypes

State                 object
District              object
Market                object
Commodity             object
Variety               object
Grade                 object
Arrival_Date          object
Min_x0020_Price      float64
Max_x0020_Price      float64
Modal_x0020_Price    float64
dtype: object

In [6]:
d.isnull().sum()

State                0
District             0
Market               0
Commodity            0
Variety              0
Grade                0
Arrival_Date         0
Min_x0020_Price      0
Max_x0020_Price      0
Modal_x0020_Price    0
dtype: int64

In [7]:
columns=['State','District','Market','Commodity','Variety','Grade','Arrival_Date','Min_Price','Max_Price','Modal_Price']
d.columns=columns

In [8]:
d.columns

Index(['State', 'District', 'Market', 'Commodity', 'Variety', 'Grade',
       'Arrival_Date', 'Min_Price', 'Max_Price', 'Modal_Price'],
      dtype='object')

In [9]:
d.to_csv("prices.csv")

In [9]:
data=pd.read_csv("potato.csv")

In [10]:
data.head()

         Date Centre_Name Commodity_Name  Price
0  25-11-1997    AGARTALA         Potato    4.5
1  26-11-1997    AGARTALA         Potato    4.5
2  27-11-1997    AGARTALA         Potato    4.5
3  28-11-1997    AGARTALA         Potato    4.5
4  01-12-1997    AGARTALA         Potato    4.5

In [12]:
data.shape

(127911, 4)

In [11]:
data.isnull().sum()

Date                  0
Centre_Name           0
Commodity_Name        0
Price             20554
dtype: int64

In [17]:
data.dropna(inplace=True)

In [18]:
data.isnull().sum()

Date              0
Centre_Name       0
Commodity_Name    0
Price             0
dtype: int64

In [20]:
data.to_csv('potato.csv')