In [44]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("Datasets/crop_yield.csv")
df.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [4]:
df.shape

(19689, 10)

In [5]:
df['Crop_Year'].unique()

array([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020], dtype=int64)

In [6]:
df[['Annual_Rainfall']].groupby(by=df['State']).mean()

                   Annual_Rainfall
State
Andhra Pradesh          916.382227
Arunachal Pradesh      2609.750000
Assam                  2095.066161
Bihar                  1163.213728
Chhattisgarh           1267.046120
Delhi                   632.903247
Goa                    3352.626275
Gujarat                 784.797919
Haryana                 466.913074
Himachal Pradesh       1147.486201
Jammu and Kashmir      1191.772108
Jharkhand              1183.172222
Karnataka              1181.838500
Kerala                 2877.605431
Madhya Pradesh         1003.348284
Maharashtra            1176.195779
Manipur                1546.946085
Meghalaya              4043.080340
Mizoram                2435.757834
Nagaland               1545.550732
Odisha                 1445.279474
Puducherry             1432.710448
Punjab                  508.961713
Sikkim                 2570.335298
Tamil Nadu              931.160827
Telangana               996.245592
Tripura                2302.765966
Uttar Pradesh           758.273455
Uttarakhand            1422.902185
West Bengal            1721.623126

In [7]:
df['Crop'].value_counts()

Crop
Rice                     1197
Maize                     975
Moong(Green Gram)         740
Urad                      733
Groundnut                 725
Sesamum                   685
Potato                    628
Sugarcane                 605
Wheat                     545
Rapeseed &Mustard         528
Bajra                     524
Jowar                     513
Arhar/Tur                 508
Ragi                      498
Gram                      490
Small millets             485
Cotton(lint)              476
Onion                     454
Sunflower                 441
Dry chillies              419
Other Kharif pulses       382
Horse-gram                371
Peas & beans (Pulses)     369
Tobacco                   364
Other  Rabi pulses        355
Soyabean                  349
Turmeric                  337
Masoor                    324
Ginger                    323
Linseed                   308
Castor seed               300
Barley                    297
Sweet potato              273
Garlic                    250
Banana                    245
Mesta                     210
Tapioca                   201
Coriander                 199
Niger seed                192
Jute                      181
Coconut                   172
Safflower                 169
Arecanut                  162
Sannhamp                  160
Other Cereals             146
Cowpea(Lobia)             134
Cashewnut                 134
Black pepper              126
other oilseeds            126
Moth                      110
Khesari                    75
Cardamom                   74
Guar seed                  63
Oilseeds total             29
Other Summer Pulses        10
Name: count, dtype: int64

In [8]:
df['State'].unique()

array(['Assam', 'Karnataka', 'Kerala', 'Meghalaya', 'West Bengal',
       'Puducherry', 'Goa', 'Andhra Pradesh', 'Tamil Nadu', 'Odisha',
       'Bihar', 'Gujarat', 'Madhya Pradesh', 'Maharashtra', 'Mizoram',
       'Punjab', 'Uttar Pradesh', 'Haryana', 'Himachal Pradesh',
       'Tripura', 'Nagaland', 'Chhattisgarh', 'Uttarakhand', 'Jharkhand',
       'Delhi', 'Manipur', 'Jammu and Kashmir', 'Telangana',
       'Arunachal Pradesh', 'Sikkim'], dtype=object)

In [9]:
# five=['Rice','Wheat','Potato','Sugarcane','Onion']
df0=df[df['Crop']=='Rice']
df1=df[df['Crop']=='Wheat']
df2=df[df['Crop']=='Potato']
df3=df[df['Crop']=='Onion']

In [10]:
df01=pd.concat([df0,df1])
df23=pd.concat([df2,df3])

In [11]:
df=pd.concat([df01,df23])

In [12]:
df.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
16,Rice,1997,Autumn,Assam,607358.0,398311,2051.4,5.780226e+07,188280.98,0.780870
17,Rice,1997,Summer,Assam,174974.0,209623,2051.4,1.665228e+07,54241.94,1.060435
18,Rice,1997,Winter,Assam,1743321.0,1647296,2051.4,1.659119e+08,540429.51,0.941304
51,Rice,1997,Kharif,Karnataka,1031530.0,2340493,1266.7,9.817071e+07,319774.30,2.233500
52,Rice,1997,Rabi,Karnataka,53889.0,109350,1266.7,5.128616e+06,16705.59,2.073846

In [13]:
df['Crop'].unique()

array(['Rice', 'Wheat', 'Potato', 'Onion'], dtype=object)

In [16]:
# States=['UP(Lucknow)','Karnataka(Bengaluru)','Madhya Pradesh(Indore)','Bihar(Patna)']
df_new=df[df['State']=='Bihar']

In [17]:
df_new.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
6195,Rice,1997,Autumn,Bihar,749671.0,892725,1303.7,7.134619e+07,232398.01,1.102245
6196,Rice,1997,Summer,Bihar,124429.0,236446,1303.7,1.184191e+07,38572.99,1.683265
6197,Rice,1997,Winter,Bihar,4238204.0,6004120,1303.7,4.033499e+08,1313843.24,1.354364
6394,Rice,1998,Summer,Bihar,132836.0,270992,1332.5,1.312420e+07,38522.44,1.765778
6395,Rice,1998,Winter,Bihar,4234443.0,5722449,1332.5,4.183630e+08,1227988.47,1.242909

In [18]:
df_new['Crop'].unique()

array(['Rice', 'Wheat', 'Potato', 'Onion'], dtype=object)

In [20]:
df.shape

(2824, 10)

In [25]:
dfa=df[df['State']=='Uttar Pradesh']
dfb=df[df['State']=='Karnataka']
dfc=df[df['State']=='Madhya Pradesh']
dfd=df[df['State']=='Bihar']
dfab=pd.concat([dfa,dfb])
dfcd=pd.concat([dfc,dfd])
df=pd.concat([dfab,dfcd])

In [26]:
df.shape

(535, 10)

In [28]:
df['State'].unique()

array(['Uttar Pradesh', 'Karnataka', 'Madhya Pradesh', 'Bihar'],
      dtype=object)

In [29]:
df['Crop'].unique()

array(['Rice', 'Wheat', 'Potato', 'Onion'], dtype=object)

In [51]:
df.to_csv("yiled.csv")

In [30]:
rain_per_state=df.groupby(['Crop_Year','State'])[['Annual_Rainfall']].mean()
rain_per_state

                          Annual_Rainfall
Crop_Year State
1997      Bihar                    1303.7
          Karnataka                1266.7
          Madhya Pradesh           1189.1
          Uttar Pradesh             473.9
1998      Bihar                    1332.5
...                                   ...
2018      Uttar Pradesh             792.8
2019      Bihar                    1194.7
          Karnataka                1422.3
          Madhya Pradesh           1446.7
          Uttar Pradesh             814.5

[92 rows x 1 columns]

In [31]:
crop_stats=df.groupby(['Crop_Year','State','Crop'])[['Yield','Fertilizer','Pesticide']].sum()
crop_stats.head()

                               Yield    Fertilizer   Pesticide
Crop_Year State     Crop
1997      Bihar     Onion   7.817273  1.718865e+06     5598.91
                    Potato  8.929636  1.599560e+07    52102.94
                    Rice    4.139874  4.865380e+08  1584814.24
                    Wheat   1.811091  1.967744e+08   640959.10
          Karnataka Rice    7.136791  1.288091e+08   419573.53

### State-wise prices

In [36]:
kar_rice=pd.read_csv('Datasets/States/KAR_Rice.csv')
kar_wheat=pd.read_csv('Datasets/States/KAR_Wheat.csv')
kar_pot=pd.read_csv('Datasets/States/KAR_Potato.csv')
kar_onion=pd.read_csv('Datasets/States/KAR_Onion.csv')
kar=pd.concat([kar_rice,kar_wheat,kar_onion,kar_pot])
kar.shape

(49798, 11)

In [37]:
up_rice=pd.read_csv('Datasets/States/UP_Rice.csv')
up_wheat=pd.read_csv('Datasets/States/UP_Wheat.csv')
up_pot=pd.read_csv('Datasets/States/UP_Potato.csv')
up_onion=pd.read_csv('Datasets/States/UP_Onion.csv')
up=pd.concat([up_rice,up_wheat,up_onion,up_pot])
up.shape

(21671, 11)

In [39]:
mp_wheat=pd.read_csv('Datasets/States/MP_Wheat.csv')
mp_pot=pd.read_csv('Datasets/States/MP_Potato.csv')
mp_onion=pd.read_csv('Datasets/States/MP_Onion.csv')
mp=pd.concat([mp_wheat,mp_onion,mp_pot])
mp.shape

(38342, 11)

In [40]:
bi_rice=pd.read_csv('Datasets/States/BI_Rice.csv')
bi_wheat=pd.read_csv('Datasets/States/BI_Wheat.csv')
bi_pot=pd.read_csv('Datasets/States/BI_Potato.csv')
bi_onion=pd.read_csv('Datasets/States/BI_Onion.csv')
bi=pd.concat([bi_rice,bi_wheat,bi_onion,bi_pot])
bi.shape

(15110, 11)

In [41]:
prices=pd.concat([up,kar,mp,bi])

In [42]:
prices.shape

(124921, 11)

In [46]:
prices.replace([0,np.nan],inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_15804\2517089468.py:1: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  prices.replace([0,np.nan],inplace=True)

In [47]:
prices.isnull().sum()

State             0
District          0
Market            0
Commodity         0
Variety           0
Grade             0
Arrival_Date      0
Min_Price         0
Max_Price         0
Modal_Price       0
Commodity_Code    0
dtype: int64

In [48]:
prices['State'].unique()

array(['Uttar Pradesh', 'Karnataka', 'Madhya Pradesh', 'Bihar'],
      dtype=object)

In [49]:
prices['Commodity'].unique()

array(['Rice', 'Wheat', 'Onion', 'Potato'], dtype=object)

In [50]:
prices['Grade'].unique()

array(['FAQ', 'Large', 'Local', 'Medium', 'Small'], dtype=object)

In [52]:
prices.to_csv("prices.csv")