In [1]:
import pandas as pd

In [2]:
prices=pd.read_csv('prices.csv')
yld=pd.read_csv('yield.csv')

In [6]:
prices.drop(columns="Unnamed: 0",inplace=True)
yld.drop(columns="Unnamed: 0",inplace=True)

In [8]:
prices.head()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_Price,Max_Price,Modal_Price,Commodity_Code
0,Uttar Pradesh,Lucknow,Banthara,Rice,Other,FAQ,01/07/2011,0,0,1620,3
1,Uttar Pradesh,Lucknow,Banthara,Rice,III,FAQ,26/02/2014,1900,2000,1990,3
2,Uttar Pradesh,Lucknow,Banthara,Rice,III,FAQ,26/03/2014,2000,2020,2010,3
3,Uttar Pradesh,Lucknow,Banthara,Rice,III,FAQ,31/12/2014,2000,2050,2035,3
4,Uttar Pradesh,Lucknow,Banthara,Rice,III,FAQ,24/06/2016,2300,2350,2325,3

In [7]:
yld.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Rice,1997,Kharif,Uttar Pradesh,5726527.0,12262794,473.9,5.449936e+08,1775223.37,2.037000
1,Rice,1997,Summer,Uttar Pradesh,6607.0,18281,473.9,6.287882e+05,2048.17,2.202903
2,Rice,1998,Kharif,Uttar Pradesh,5875153.0,11374070,743.4,5.804651e+08,1703794.37,1.865060
3,Rice,1998,Summer,Uttar Pradesh,5629.0,12643,743.4,5.561452e+05,1632.41,2.015172
4,Rice,1999,Kharif,Uttar Pradesh,6079822.0,13230539,883.4,6.452515e+08,1641551.94,1.991707

In [15]:
prices['Year']=pd.to_datetime(prices['Arrival_Date'],format='mixed').dt.year

In [18]:
yld=yld.rename(columns={'Crop_Year':'Year','Crop':'Commodity'})
yld.columns

Index(['Commodity', 'Year', 'Season', 'State', 'Area', 'Production',
       'Annual_Rainfall', 'Fertilizer', 'Pesticide', 'Yield'],
      dtype='object')

In [29]:
final=prices.merge(yld,how='left',on=['State','Commodity','Year'])
final.head()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_Price,Max_Price,Modal_Price,Commodity_Code,Year,Season,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Uttar Pradesh,Lucknow,Banthara,Rice,Other,FAQ,01/07/2011,0,0,1620,3,2011,Kharif,5922643.0,13962896.0,777.4,9.921612e+08,1954472.19,2.294444
1,Uttar Pradesh,Lucknow,Banthara,Rice,Other,FAQ,01/07/2011,0,0,1620,3,2011,Summer,23642.0,59496.0,777.4,3.960508e+06,7801.86,2.335909
2,Uttar Pradesh,Lucknow,Banthara,Rice,III,FAQ,26/02/2014,1900,2000,1990,3,2014,Kharif,5842029.0,13241518.0,616.4,8.819127e+08,1927869.57,2.240533
3,Uttar Pradesh,Lucknow,Banthara,Rice,III,FAQ,26/02/2014,1900,2000,1990,3,2014,Summer,29947.0,75449.0,616.4,4.520799e+06,9882.51,2.384091
4,Uttar Pradesh,Lucknow,Banthara,Rice,III,FAQ,26/03/2014,2000,2020,2010,3,2014,Kharif,5842029.0,13241518.0,616.4,8.819127e+08,1927869.57,2.240533

In [30]:
final['State'].unique()

array(['Uttar Pradesh', 'Karnataka', 'Madhya Pradesh', 'Bihar'],
      dtype=object)

In [31]:
final['Commodity'].unique()

array(['Rice', 'Wheat', 'Onion', 'Potato'], dtype=object)

In [32]:
final['Commodity_Code'].unique()

array([ 3,  1, 23, 24], dtype=int64)

In [33]:
final['Year'].unique()

array([2011, 2014, 2016, 2009, 2010, 2012, 2013, 2008, 2006, 2007, 2005,
       2003, 2017, 2015, 2019, 2018, 2002, 2020, 2024, 2022, 2023, 2021,
       2025, 2001, 2004])

In [35]:
final=final.sort_values(by=['Year','State']).reset_index(drop=True)

In [36]:
final.head()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_Price,Max_Price,Modal_Price,Commodity_Code,Year,Season,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Karnataka,Bangalore,Bangalore,Rice,Coarse,FAQ,04/08/2001,900,1000,950,3,2001,Kharif,1087967.0,2393946.0,1002.9,1.111141e+08,282871.42,2.154815
1,Karnataka,Bangalore,Bangalore,Rice,Coarse,FAQ,04/08/2001,900,1000,950,3,2001,Rabi,53480.0,99699.0,1002.9,5.461912e+06,13904.80,1.840714
2,Karnataka,Bangalore,Bangalore,Rice,Coarse,FAQ,04/08/2001,900,1000,950,3,2001,Summer,276277.0,740400.0,1002.9,2.821617e+07,71832.02,2.436800
3,Karnataka,Bangalore,Bangalore,Rice,Coarse,FAQ,20/12/2001,900,500,400,3,2001,Kharif,1087967.0,2393946.0,1002.9,1.111141e+08,282871.42,2.154815
4,Karnataka,Bangalore,Bangalore,Rice,Coarse,FAQ,20/12/2001,900,500,400,3,2001,Rabi,53480.0,99699.0,1002.9,5.461912e+06,13904.80,1.840714

In [37]:
final.tail()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_Price,Max_Price,Modal_Price,Commodity_Code,Year,Season,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
201187,Madhya Pradesh,Indore,Indore,Potato,Local,FAQ,01/01/2025,833,1952,1567,24,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201188,Madhya Pradesh,Indore,Mhow(F&V),Potato,Potato,FAQ,01/01/2025,700,1000,820,24,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201189,Uttar Pradesh,Lucknow,Lucknow,Wheat,Dara,FAQ,01/01/2025,2800,2900,2860,1,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201190,Uttar Pradesh,Lucknow,Lucknow,Onion,Red,FAQ,01/01/2025,2500,2600,2550,23,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201191,Uttar Pradesh,Lucknow,Lucknow,Potato,Desi,FAQ,01/01/2025,1540,1650,1590,24,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
final.to_csv('all_commodities.csv')